<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ProcesarMunicipio</servlet-name>
        <servlet-class>com.controlador.ProcesarMunicipio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarArea</servlet-name>
        <servlet-class>com.controlador.ProcesarArea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarCatalogo</servlet-name>
        <servlet-class>com.controlador.ProcesarCatalogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarContratador</servlet-name>
        <servlet-class>com.controlador.ProcesarContratador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarDepartamento</servlet-name>
        <servlet-class>com.controlador.ProcesarDepartamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarEmpresa</servlet-name>
        <servlet-class>com.controlador.ProcesarEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarHabilidad</servlet-name>
        <servlet-class>com.controlador.ProcesarHabilidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarIdioma</servlet-name>
        <servlet-class>com.controlador.ProcesarIdioma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarPais</servlet-name>
        <servlet-class>com.controlador.ProcesarPais</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarPerfil</servlet-name>
        <servlet-class>com.controlador.ProcesarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarProfesion</servlet-name>
        <servlet-class>com.controlador.ProcesarProfesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarPublicista</servlet-name>
        <servlet-class>com.controlador.ProcesarPublicista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarRanking</servlet-name>
        <servlet-class>com.controlador.ProcesarRanking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarTipoUsuario</servlet-name>
        <servlet-class>com.controlador.ProcesarTipoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarTrabajo</servlet-name>
        <servlet-class>com.controlador.ProcesarTrabajo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarUsuario</servlet-name>
        <servlet-class>com.controlador.ProcesarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcesarMunicipio</servlet-name>
        <url-pattern>/procesarMunicipio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarArea</servlet-name>
        <url-pattern>/procesarArea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarCatalogo</servlet-name>
        <url-pattern>/procesarCatalogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarContratador</servlet-name>
        <url-pattern>/procesarContratador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarDepartamento</servlet-name>
        <url-pattern>/procesarDepartamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarEmpresa</servlet-name>
        <url-pattern>/procesarEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarHabilidad</servlet-name>
        <url-pattern>/procesarHabilidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarIdioma</servlet-name>
        <url-pattern>/procesarIdioma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarPais</servlet-name>
        <url-pattern>/procesarPais</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarPerfil</servlet-name>
        <url-pattern>/procesarPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarProfesion</servlet-name>
        <url-pattern>/procesarProfesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarPublicista</servlet-name>
        <url-pattern>/procesarPublicista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarRanking</servlet-name>
        <url-pattern>/procesarRanking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarTipoUsuario</servlet-name>
        <url-pattern>/procesarTipoUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarTrabajo</servlet-name>
        <url-pattern>/procesarTrabajo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarUsuario</servlet-name>
        <url-pattern>/procesarUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
