<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>com.controlador.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarDepartamento</servlet-name>
        <servlet-class>com.controlador.ProcesarDepartamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarHabilidad</servlet-name>
        <servlet-class>com.controlador.ProcesarHabilidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarPais</servlet-name>
        <servlet-class>com.controlador.ProcesarPais</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarAreaProfesional</servlet-name>
        <servlet-class>com.controlador.ProcesarAreaProfesional</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarExperienciaLaboral</servlet-name>
        <servlet-class>com.controlador.ProcesarExperienciaLaboral</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarOfertaEmpleo</servlet-name>
        <servlet-class>com.controlador.ProcesarOfertaEmpleo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarPersonaContacto</servlet-name>
        <servlet-class>com.controlador.ProcesarPersonaContacto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarEmpleador</servlet-name>
        <servlet-class>com.controlador.ProcesarEmpleador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarEmpresa</servlet-name>
        <servlet-class>com.controlador.ProcesarEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarFormacionAcademica</servlet-name>
        <servlet-class>com.controlador.ProcesarFormacionAcademica</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/iniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarDepartamento</servlet-name>
        <url-pattern>/jsp/gestionar/procesarDepartamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarHabilidad</servlet-name>
        <url-pattern>/jsp/gestionar/procesarHabilidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarPais</servlet-name>
        <url-pattern>/jsp/gestionar/procesarPais</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarAreaProfesional</servlet-name>
        <url-pattern>/jsp/gestionar/procesarAreaProfesional</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarExperienciaLaboral</servlet-name>
        <url-pattern>/jsp/gestionar/procesarExperienciaLaboral</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarOfertaEmpleo</servlet-name>
        <url-pattern>/jsp/gestionar/procesarOfertaEmpleo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarPersonaContacto</servlet-name>
        <url-pattern>/jsp/gestionar/procesarPersonaContacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarEmpleador</servlet-name>
        <url-pattern>/jsp/gestionar/procesarEmpleador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarEmpresa</servlet-name>
        <url-pattern>/jsp/gestionar/procesarEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarFormacionAcademica</servlet-name>
        <url-pattern>/jsp/gestionar/procesarFormacionAcademica</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
